/* Общий стиль */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Тёмный фон */
  color: #e0e0e0; /* Светлый текст */
  margin: 0;
  padding: 0;
}

/* Централизованный контейнер */
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e; /* Чуть светлее основного фона */
  border-radius: 12px; /* Закруглённые края */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Лёгкая тень */
}

/* Заголовок */
h1 {
  font-size: 2em;
  color: #f0f0f0; /* Ещё светлее для акцента */
  margin-bottom: 20px;
}

/* Текст цитаты */
#quote {
  font-size: 1.2em;
  margin: 20px 0;
  color: #b3b3b3; /* Нейтральный оттенок для текста */
  transition: opacity 0.3s ease; /* Плавное изменение */
}

/* Кнопка */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bb86fc; /* Цвет кнопки в стиле тёмной темы */
  color: #121212; /* Чёрный текст на светлой кнопке */
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.btn:hover {
  background-color: #9b67e1; /* Чуть темнее при наведении */
}

#toggle-favorite-btn {
  display: none;
}

.quote {
  font-style: italic;
}

.quote:before,
.quote:after {
  content: '"';
}

.quote-author {
  display: block; /* Чтобы строка автора занимала отдельный блок */
  margin-top: 10px; /* Увеличивает отступ сверху */
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #f0f0f0;
  color: #1e1e1e;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 25%;
}

.author {
  font-style: italic;
}

.star-icon {
  font-size: 30px;
  color: rgb(255, 255, 0);
  cursor: pointer;
  vertical-align: middle;
}